<section class="container">
  <app-nav></app-nav>
  <section class="card-panel chkout">
    <header>
      <h1>Carrito de Compras</h1>
    </header>
    <section class="crtdetprd">
      <div class="crtprds">

        <div class="crtprd" *ngFor="let prod of cartItems">
            <div class="crtprdimg">
              <div>
                <img src="http://localhost:3001/{{prod.url}}"/>
              </div>
            </div>
            <div class="crtprdsbt">
              <div>
                <span><b>{{prod.nombre}}</b></span><br/>
                <span><b>Unidades:</b> {{prod.cantidad}}</span>
              </div>
              <div>
                <b>Subtotal:</b> ${{prod.cantidad * prod.precio}}
              </div>
            </div>
        </div>

      </div>
      <div class="crtact">
        <div>Total: ${{totalOrder}}</div>
        <div>
          <button (click)="cancel()">Cancelar</button>
          <button (click)="onConfirm()">Pagar</button>
        </div>
      </div>
    </section>
  </section>
</section>
