    .container {
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
      background-image: url('/assets/imgs/main-fondo.jpg');
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow-y: scroll;
      flex-wrap: wrap;
    }
    .chkout {
      width: 100vw !important;
      max-width: 1152px;
      margin: 1.31em auto;
      box-sizing: border-box;
      min-height: 70vh;
      text-align: left;
    }
    .crtdetprd {
      display: flex;
    }
    .crtprds {
      box-sizing: border-box;
      width: calc(60% - 1.5em);
      margin-right: 1.5em;
    }
    .crtprd {
      display: flex;
      flex-direction: row;
      padding: 1em;
      margin: 0px;
      border: 1px solid #CCC;
    }
    .crtprdimg {
      box-sizing: border-box;
      width: 30%;
      text-align: center;
    }
    .crtprdimg img {
      max-height: 72px;
      max-width: 72px;
    }
    .crtprdimg div {
      box-shadow: 0px 0px 3px #ccc;
      margin-right: 1em;
      padding: 0.5em;
    }
    .crtprdsbt {
      box-sizing: border-box;
      width: 70%;
    }
    .crtprdsbt div:nth-child(1) {
      width: 100%;
      padding-bottom: 0.6em;
      border-bottom: solid 1px #CCC;
    }
    .crtprdsbt div:nth-child(2) {
      width: 100%;
      padding-top: 0.6em;
    }
    .crtact {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
    }
    .crtact div:nth-child(1) {
      font-size: 2em;
    }
    .crtact div:nth-child(2) {
      margin-top: 1em;
    }
    .crtact div:nth-child(2) button {
      box-sizing: border-box;
      font-size: 1em;
      display: inline-block;
      padding: 0.75em 1em;
      margin: 0px;
      background-color: #fff;
      border: 1px solid #AAA;
      min-width: 105px;
      transition: background-color 0.5s ease;
    }
    .crtact div:nth-child(2) button:nth-child(1) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
    }
    .crtact div:nth-child(2) button:nth-child(1):hover {
      background-color: rgba(255, 0, 0, 0.3);
    }
    .crtact div:nth-child(2) button:nth-child(2) {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .crtact div:nth-child(2) button:nth-child(2):hover {
      background-color: rgba(0, 255, 0, 0.3);
    }
