<section class="container">
 <form>
   <h3 style="text-align: center">Inicia Sesión</h3>
   <fieldset>
     <label>Correo Electrónico</label>
     <input type="email" name="username" [(ngModel)]="username" placeholder="correo@electronico"/>
   </fieldset>
    <fieldset>
      <label>Contraseña</label>
      <input type="password" name="password" [(ngModel)]="password" placeholder="contraseña" />
    </fieldset>
    <fieldset class="center">
      <button (click)="signon(username, password)">Ingresar</button>
    </fieldset>
 </form>
</section>
