  .container {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: url('../assets/imgs/main-fondo.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    flex-wrap: wrap;
  }
  .prddet {
    width: 100vw !important;
    max-width: 1152px;
    margin: 1.31em auto;
    box-sizing: border-box;
    min-height: 70vh;
    text-align: left;
  }
  .detcnt {
    display: flex;
    justify-content: space-evenly;
  }
  .prddetimg, .prtdetdet {
    box-sizing: border-box;
    width: 50%;
  }
  .prtdetdet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .prddetimg img {
    max-width: 70%;
    padding: 1em;
    border: solid 1px #333;
    box-shadow: 1px 1px 3px #333;
  }
  button {
    display: inline-block;
    background-color: #DDD;
    color: #333;
    border-radius: 3px;
    border-color: #333;
    padding: 1em 1.5em;
    font-weight: bolder;
    font-size: 1em;
  }
  input.sinput {
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
    min-width: 280px;
  }
