<section class="card-panel ctdprd">
  <header>
    <div>
    <h1>Catálogo de Productos</h1>
    </div>
    <div>
    <app-search></app-search>
    </div>
  </header>
  <section>
    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1"/>
        </form>
      </div>
    </div>
    
    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1" />
        </form>
      </div>
    </div>

    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1" />
        </form>
      </div>
    </div>

    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1" />
        </form>
      </div>
    </div>

    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1" />
        </form>
      </div>
    </div>

    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1" />
        </form>
      </div>
    </div>

    <div class="card medium">
      <img class="card-image" src="http://localhost:3001/imgs/aguacate.jpg" />
      <div class="card-title">Aguacate</div>
      <div class="price"><b>Precio:</b>&nbsp;<b>$100.00</b></div>
      <div class="price"><b>Unidades Disponibles:</b>&nbsp;<b>10</b></div>
      <div class="card-action">
        <button>Ver Más</button>
        <form>
          <button class="add">Agregar</button>
          <input type="number" name="cantidad" maxlength="3" max="100" min="1" value="1" />
        </form>
      </div>
    </div>
  </section>
</section>
