  .container {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: url('../assets/imgs/main-fondo.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    flex-wrap: wrap;
  }
