<section class="container">
  <app-nav></app-nav>
  <section class="card-panel prddet">
    <header>
      <h1>Aguacate</h1>
    </header>
    <section class="detcnt">
      <div class="prddetimg">
        <img src="http://localhost:3001/imgs/aguacate.jpg" />
      </div>
      <div class="prtdetdet">
        <div>
          <h2>Precio: </h2>
          <h2>Unicades Disponibles: </h2>
        </div>
        <div>
          <button>Atras</button>
        </div>
      </div>
    </section>
  </section>

</section>
